:root {
  background-color: #ffffff;
  font-family: "Inter Tight", sans-serif;
}


@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    font-family: "Inter Tight", sans-serif;
  }
}
